<div class="container container-about">
  <div class="jumbotron">
    <h2 class="display-4">ACME Bank</h2>
    <p class="lead">
      ACME Bank is a fictitious bank used as the business case for developing a business process platform using modern lightweight
      enterprise architecture.
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Purpose</h4>
    <p>
      The purpose of this project is to have sensible business case to use as the backdrop for developing modern solutions using
      the most cutting edge technologies and the most modern architecture in the market.
    </p>
    <p>
      As well as the software itself, all of which is open source, this project tries to show how to develop and deploy the software
      using modern runtimes and methodologies.
    </p>
  </div>
</div>