<div class="container container-architecture container-architecture-loan-process">
  <div class="jumbotron">
    <h2 class="display-4">Loan process</h2>
    <p class="lead">
      The loan process is modeled as a series of microservices, each responsible for a dedicated step in the business process.
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Process diagram</h4>
    <p>
      Below is a process diagram showing the different parts of the loan business process.
    </p>
    <p>
      <app-image-dialog-action image="assets/images/acme_loan_process_diagram.png"></app-image-dialog-action>
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Loan Registration Microservice</h4>
    <p>
    </p>
    <h3 class="display-6">Component diagram</h3>
    <p>
      Below is a component diagram showing the different parts of the loan registration microservice.
    </p>
    <p>
      <app-image-dialog-action image="assets/images/acme_loan_registration_component_diagram.png"></app-image-dialog-action>
    </p>
  </div>
</div>