<div class="container container-development container-development-platform">
  <div class="jumbotron">
    <h2 class="display-4">DevOps Platform</h2>
    <p class="lead">
      The ACME Bank DevOps platform is a CI/CD enabling framework.
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Platform services</h4>
    <p>
      The platform is a container based framework based on Docker, and is comprised of the following services.
    </p>
    <ul>
      <li>Docker Registry</li>
      <ul>
        <li>Docker Registry UI</li>
      </ul>
      <li>Jenkins</li>
      <li>Nexus</li>
      <li>Spring Cloud Config Server</li>
      <li>Kafka</li>
      <li>HAProxy</li>
    </ul>
  </div>
</div>