<div class="container container-development">
  <div class="jumbotron">
    <h2 class="display-4">Development</h2>
    <p class="lead">
      Development of the ACME Bank applications is done using modern technologies and frameworks.
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Source Code</h4>
    <p>
      The code for the applications is open source and is hosted on GitHub.
    </p>
    <p>
      <a class="btn btn-link" role="button" href="https://github.com/acme-bank" target="_blank">
        <i class="fab fa-github" style="font-size: larger" aria-hidden="true"></i>&nbsp;&nbsp;https://github.com/acme-bank&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Docker Images</h4>
    <p>
      The official Docker images for the DevOps and runtime platforms are hosted on Docker Hub.
    </p>
    <p>
      <a class="btn btn-link" role="button" href="https://hub.docker.com/u/acmebank" target="_blank">
        <i class="fab fa-docker" style="font-size: larger" aria-hidden="true"></i>&nbsp;&nbsp;https://hub.docker.com/u/acmebank&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </p>
  </div>
</div>