<div class="container container-architecture">
  <div class="jumbotron">
    <h2 class="display-4">Architecture</h2>
    <p class="lead">
      The core platform is centered around an event based architecture with Event Sourcing and CQRS.
    </p>
    <p class="lead">
      Each business process is modeled as a bounded context, with a series of microservices that mostly communicate using events.
    </p>
    <hr class="separator-normal">
    <h4 class="display-5">Processes</h4>
    <p>
      Here is more details about the different business processes in the solution.
    </p>
    <hr class="separator-normal">
    <h3 class="display-6">Loan Processes Architecture</h3>
    <p>
      <a class="btn btn-link" routerLink="/development">Read more!</a>
    </p>
    <hr class="separator-normal">
  </div>
</div>

<div class="container container-technologies">
  <div class="jumbotron">
    <h2 class="display-4">Technologies</h2>
    <p class="lead">
      Below are some of the core frameworks and runtime components used in the architecture.
    </p>
    <hr class="separator-normal">
    <p style="background-color: #fff">
      <a href="http://java.oracle.com" target="_blank">
        <img src="assets/images/java8-logo.png">
      </a>
      <a href="https://spring.io" target="_blank">
        <img src="assets/images/spring-logo.png">
      </a>
      <a href="https://projects.spring.io/spring-boot" target="_blank">
        <img src="assets/images/spring-boot-logo.png">
      </a>
      <a href="https://angular.io" target="_blank">
        <img src="assets/images/angularjs-logo.png">
      </a>
      <a href="https://kafka.apache.org" target="_blank">
        <img src="assets/images/kafka-logo.png">
      </a>
      <a href="https://www.docker.com" target="_blank">
        <img src="assets/images/docker-logo.png">
      </a>
    </p>
  </div>
</div>