<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#appNavbar" aria-controls="appNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">
      <img alt="ACME Bank" src="assets/images/logo-grayscale-inverted-300x100.png">
    </a>

    <div class="collapse navbar-collapse" id="appNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">
            <i class="fas fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <i class="fas fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;About
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="dropdown-development" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-laptop" aria-hidden="true"></i>&nbsp;&nbsp;Development
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown-development">
            <a class="dropdown-item" routerLink="/development">
              <i class="fas fa-binoculars" aria-hidden="true"></i>&nbsp;&nbsp;Overview
            </a>
            <a class="dropdown-item" routerLink="/development/platform">
              <i class="fas fa-server" aria-hidden="true"></i>&nbsp;&nbsp;DevOps Platform
            </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="dropdown-architecture" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-building" aria-hidden="true"></i>&nbsp;&nbsp;Architecture
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown-architecture">
            <a class="dropdown-item" routerLink="/architecture">
              <i class="far fa-map" aria-hidden="true"></i>&nbsp;&nbsp;Overview
            </a>
            <a class="dropdown-item" routerLink="/architecture/loan-process">
              <i class="fas fa-suitcase" aria-hidden="true"></i>&nbsp;&nbsp;Loan Process Architecture
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>