<div class="container">
  <a routerLink="">
    <img alt="ACME Bank" src="assets/images/logo-300x100.png">
  </a>
</div>

<div class="container container-about">
  <div class="jumbotron">
    <h2 class="display-4">ACME Bank</h2>
    <p class="lead">
      ACME Bank is a fictitious bank used as the business case for developing a business
      process platform using modern lightweight enterprise architecture.
    </p>
    <hr>
    <p>
      <a class="btn btn-link" routerLink="/about">Read more!</a>
    </p>
  </div>
</div>

<div class="container container-development">
  <div class="jumbotron">
    <h2 class="display-4">Development</h2>
    <p class="lead">
      Development of the ACME Bank applications is done using modern technologies and frameworks.
    </p>
    <hr>
    <p>
      <a class="btn btn-link" routerLink="/development">Read more!</a>
    </p>
  </div>
</div>

<div class="container container-architecture">
  <div class="jumbotron">
    <h2 class="display-4">Architecture</h2>
    <p class="lead">
      The core platform is centered around an event based architecture with event sourcing and CQRS.
    </p>
    <hr>
    <p>
      <a class="btn btn-link" routerLink="/architecture">Read more!</a>
    </p>
  </div>
</div>
